#prjct {
    position: relative;
  }
  
  #prjct video{
     height: 100vh;
     width: 100%;
     background-position: absoulte;
     z-index: 10;
     object-fit:cover;
  }
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

  #prjct {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
  .content{
    text-align: center;
 
 }
  
 #prjct video{
    height: 100vh;
    width: 100%;
    background-position: absoulte;
    z-index: 10;
    object-fit:cover;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    padding-top: 50px;
 }
 
  h1{
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
    color:aliceblue;
    
 
  }
      
  h2{
    font-weight: 100;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
    color:aliceblue;
    
  }
 
  .content{
  position:relative; 
   }
   .prjct video {
     position:relative;
     z-index:0;
  } !-->
      