@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
    font-style: oblique;
    
    
}

:root{

    --primary-color: rgb(42, 42, 129);
    --white-color:#fff;
    --light-grey:rgb(43, 50, 58);
    --black-color:#1d1e1f;
}

body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-position: center;
    background-size: cover;
    background-image: url("studentslap.jpg");
    
    

}

.container{ 
    padding: 50px 25px 0;
    max-width: 800px;
    width: 100%;
    margin: auto;
    margin-left: 35%;
    
    
}

.container::before{
    content: ' ';
    position:absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: -1;
    
}

.container .headline{
    text-align: center;
    padding-bottom: 60px;
    padding-right: 230px;


}

.form{
    width:550px;
    height:600px;
    background: rgb(30, 39, 39, 0.3);
    text-align: center;
    padding-top:90px;
        padding-bottom: 20px;
    padding-left: 150px;
    border-radius: 50px;
    margin-top: -8%;
    border: 4px #fff;
    
    
}
.form .fillin{
    color: #fff;
    margin-top: -15%;
    margin-left: -34%;
    margin-bottom: 10%;
}

.container .headline h1{
    font-size: 40px;
    font-weight: 600;
    font-family: serif;
    padding-bottom: -50px;
    color:rgb(32, 30, 30);
     font-family:  sans-serif;
    align-items: center;

     

}

.container .from-groups input{
    
    display: block;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.1px;
    padding: 11px 15px;
    height: 40px;
    color: rgb(38, 38, 97); 
    border-radius: 1fr;
    box-shadow: burlywood;
    width: 80%;
    margin-left: -8%;
    
}
.container .from-groups {
    
    margin-bottom: 10px;
    
}
.container {
    padding-top: 20px;
    align-items: center;
    margin-bottom: 70px;
  
}

.container .from-groups input::placeholder{
    color: var(--black-color);
    font-family: 600px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container .btn{
    width: 60%;
    margin: 15px 0 30px;
    font-family: 13px;
    font-weight: 700;
    padding: 12px 29px;
    height: 45px;
    text-transform: uppercase;
    color: var(--white-color);
    transition: 0.2s;
    background-color: var(--primary-color);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    margin-right: 100px;
}

.signup.inActive{
    display: none;
}

.signin{
    display: none;

}

.signin.active{
    display: block;
}



.account-exist{

    align-items: center;
    color: #fff;
    margin-left: -29%;


}
/*link*/
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  margin-left: 21px;
  float: left;
  
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}


















