body{
    background-color: rgba(237, 253, 253, 0.76);
    width: 100%;
    height: 100vh;
    
}

.form-container{
    box-sizing: border-box;
    width: 30;
    height: 120%;
    padding: 30px;  
    border: 2px solid rgb(233, 233, 233);
    border-radius: 1%;
    position: relative;
    margin: 30%;
    margin-top: 10%;
    background-color: rgba(189, 181, 181, 0.219);
    text-align: center;
}

.form-popup h1{
    font: #fff;
}
 .container .form-popup{

    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

   .container .from-groups input{
    
    display: block;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.1px;
    
    height: 30px;
    color: rgb(38, 38, 97); 
    border-radius: 1fr;
    box-shadow: burlywood;
    width: 80%;
    margin-left: 8%;
    margin-bottom: 20px;
   }
   


  


/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-top: 3%;
  margin-bottom:10px;
  opacity: 0.8;
  border: black 2px;
  border-radius: 7%;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}